In [1]:
import pandas as pd

In [3]:
pwd()

'/home/wsuser/work/project_git_repo/IBM4DSJupyter/assets/jupyterlab'

In [4]:
ls()

/usr/bin/sh: -c: line 0: syntax error near unexpected token `('
/usr/bin/sh: -c: line 0: `ls -F --color ()'

In [5]:
pwd()

'/home/wsuser/work/project_git_repo/IBM4DSJupyter/assets/jupyterlab'

In [7]:
pwd()

'/home/wsuser/work/project_git_repo/IBM4DSJupyter/assets/jupyterlab'

In [8]:
ls("/project_data/data_asset/")

/usr/bin/sh: -c: line 0: syntax error near unexpected token `('
/usr/bin/sh: -c: line 0: `ls -F --color ("/project_data/data_asset/")'

In [9]:
import os

In [10]:
os.name

'posix'

In [12]:
os.getcwd()

'/home/wsuser/work/project_git_repo/IBM4DSJupyter/assets/jupyterlab'

In [14]:
os.listdir()

['Notebook_1.ipynb', '.ipynb_checkpoints', 'Notebook_2.ipynb']

In [15]:
df = pd.read_excel('/project_data/data_asset/telco x modeling data.xls')

In [16]:
df.head(5)

,customer_id,data_known,gender,age,tariff,dropped_calls,handset,peak_mins,peak_rate,bill_peak,...,gadget_A,gadget_B,gadget_C,gadget_D,gadget_A_revenues,gadget_B_revenues,gadget_C_revenues,gadget_D_revenues,churn,retention
0,K100010,yes,Male,46.0,CAT 50,1.0,SOP10,36.131353,15.0,5.419703,...,F,F,T,F,0.0,0.0,28.0,0.0,Churned,F
1,K100020,yes,Male,27.0,CAT 50,0.0,SOP10,39.437279,15.0,5.915592,...,T,F,F,F,11.0,0.0,0.0,0.0,Churned,F
2,K100030,yes,Male,39.0,CAT 50,2.0,SOP20,72.600000,15.0,10.890000,...,T,T,F,T,8.0,23.0,0.0,35.0,Churned,F
3,K100040,yes,Male,28.0,CAT 50,2.0,SOP10,72.600000,15.0,10.890000,...,T,T,F,T,13.0,18.0,0.0,41.0,Churned,F
4,K100050,yes,Male,47.0,CAT 50,0.0,SOP10,40.608449,15.0,6.091267,...,F,F,F,F,0.0,0.0,0.0,0.0,Churned,F

### pa to nič ne delaj, kaj je zdaj to